# Arquivos gerados e de dependências
/vendor/
/composer-setup.php
/composer.lock
# Arquivos de configurações sensíveis
.env
/Config/Conexao.php
/Config/config.php

# Ignora qualquer arquivo de log, como erro.log
*.log
cacert.pem

# Arquivos temporários
*~