@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #e3e9f7;
  overflow-x: hidden;
}


main {
  padding: 20px;
  position: relative;
  z-index: 1;
}

#sidebar {
  position: fixed;
  top: 0;
  left: -280px;
  width: 260px;
  height: 100vh;
  background-color: #ffffff;
  border-radius: 0px 18px 18px 0px;
  transition: left 0.35s ease;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sidebar_content {
    padding: 12px;
}

#menuToggle {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 2100;
  background: #000000;
  color: #fff;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 10px;
  font-size: 22px;
}


#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

#sidebar.open-sidebar {
  left: 0;
}


.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #000000;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout a {
  text-decoration: none;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #00f800;
    color: #000000;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.item-description {
    font-size: 14px;
    white-space: nowrap;
}

#sidebar_content {
  padding: 70px 12px 12px; /* top right bottom */
}


#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1500;
  display: none;
}

#backdrop.show {
  display: block;
}

main h1 {
    text-align: center;
}
