.text-danger {
  color: red;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;

}

.logo {
  width: 250px;
}

.navbar-toggler {
  border: none;
  box-shadow: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.toggler-icon {
  width: 25px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: all 0.3s ease-in-out;
}

.toggler-icon,
.toggler-icon {
  margin-top: 5px;
}

.navbar-toggler:not(.collapsed) .top-bar {
  transform: rotate(45deg) translate(5px, 5px);
}

.navbar-toggler:not(.collapsed) .middle-bar {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .bottom-bar {
  transform: rotate(-45deg) translate(6px, -6px);
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}


.container {
  margin-bottom: 30px;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;

}

.btn-success {
  background-color: #00f800;
  color: #000000;
}

.btn-outline-success {
  border-color: #00f800;
  color: #00f800;

}

.btn-outline-success {
  border-color: #00f800;
  color: #00f800;

}

.btn-success:hover {
  background-color: #3E7B27;
  color: #000000;
}

.btn-google {
  background-color: #000000;
  color: #FFFFFF;
}

.link a {
  text-decoration: none;

}

.img-fluid {
  max-width: 90%;
  margin-left: 30px;
  margin-top: 30px;
}

.card {
  border-radius: 15px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}


.text-success {
  color: #00f800 !important;
}

.card {
  border-radius: 15px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.text-success {
  color: #00f800 !important;
}

footer {
  margin-top: auto;
}

@media (max-width: 768px) {
  .logo {
    width: 195px;
  }
}
