.text-danger {
  color: red;
}

.container {
  margin-bottom: 30px;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;

}

.btn-success {
  background-color: #00f800;
  color: #000000;
}

.btn-outline-success {
  border-color: #00f800;
  color: #00f800;

}

.btn-success:hover {
  background-color: #3E7B27;
  color: #000000;
}

.btn-google {
  background-color: #000000;
  color: #FFFFFF;
}

.link a {
  text-decoration: none;

}

.img-fluid {
  max-width: 90%;
  margin-left: 30px;
  margin-top: 30px;
}

.card {
  border-radius: 15px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}


.text-success {
  color: #00f800 !important;
}

.card {
  border-radius: 15px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.text-success {
  color: #00f800 !important;
}